GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3001/auth/google/callback
GOOGLE_REFRESH_TOKEN=
GMAIL_USER=miqueias.costa@360suites.com.br
GROQ_API_KEY=
GEMINI_API_KEY=
MES_REFERENCIA=Maio
ANO_REFERENCIA=2026
